<html>
  <head>
    <title>RaspberrySky_v0.1</title>
    <!-- Angular Imports -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>


    <script src="main.js"></script>

    <link rel="stylesheet" href="main.css">

    
  </head>


  <body>
  	<div ng-controller="AppCtrl as ctrl" layout="column" style="height: 500px;" ng-cloak="" class="sidenavdemoCustomSidenav" ng-app="MyApp">

  	  <section layout="row" flex="">


  	    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">


          <md-toolbar>
            <h1 class="md-toolbar-tools">Channel Choice</h1>
          </md-toolbar>

          <p>Select Input Camera</p>
          <md-radio-group layout="row" ng-model="cameraChoice" >
            <md-radio-button ng-repeat="n in [0,1,2,3]" value={{n}} class="md-primary">{{n}}</md-radio-button>
          </md-radio-group>

          <md-button ng-click="setCamera()" class="md-primary">
            Start Capture
          </md-button>
          
          <md-button ng-click="stopCamera()" class="md-primary">
            Stop Capture
          </md-button>

  	      <md-toolbar>
  	        <h1 class="md-toolbar-tools">Recording</h1>
  	      </md-toolbar>

          <p>Recording</p>
          <div layout="row">
            <md-button ng-click="toggleLeft()" class="md-primary">
              Start
            </md-button>
            <md-button ng-click="toggleLeft()" class="md-warn">
              Stop
            </md-button>
          </div>




          <md-toolbar class="md-warn">
            <h1 class="md-toolbar-tools">Settings</h1>
          </md-toolbar>

          <md-content>

            <p>Exposure Time</p>
            <md-slider-container>
              <span>1/s</span>
              <md-slider flex min="2" max="100" ng-model="exposure" aria-label=exp id="red-slider">
              </md-slider>
              <md-input-container>
                <input flex type="number" ng-model="exposure" aria-label="red" aria-controls="red-slider">
              </md-input-container>
            </md-slider-container>

            <p>Send Settings to Server</p>
            <div layout="row">
              <md-button ng-click="setImagingParameters()" class="md-primary">
                Send
              </md-button>
    	        <md-button ng-click="toggleLeft()" class="md-warn">
    	          Cancel
    	        </md-button>
            </div>

          </md-content>

  	    </md-sidenav>

      </section>




        <!--<div layout="row" flex>-->

        <!--<div flex="20" hide show-sm></div>-->
        <!--<div flex="30" hide show-gt-sm></div>-->

        <!--<div flex>-->

        <div layout="column" layout-fill>
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools" layout-align="space-between center">


                    <div>
                        <md-button ng-click="toggleLeft()" class="md-primary">
                            Options
                        </md-button>
                    </div>
                    <h2 class="md-flex">Raspberry Sky v0.1</h2>
                </div>
            </md-toolbar>


          <!--<div class="md-padding" layout="row" layout-wrap>-->

              <!--<mjpeg url="videoUrl"></mjpeg>-->
              <!--<div flex="33">-->
                  <!--<md-card>-->
                      <!--<md-card-header>-->
                          <!--<md-card-title>Max Feed</md-card-title>-->
                      <!--</md-card-header>-->
                    <!--<img md-card-image ng-src="{{!ctrl.streamOff && '/max_feed' || '//:0'}}">-->
                  <!--</md-card>-->
              <!--</div>-->
              <!--<div flex="33">-->
                  <!--<md-card>-->
                    <!--<img ng-src="{{!ctrl.streamOff && '/hist_feed' || '//:0'}}">-->
                  <!--</md-card>-->
              <!--</div>-->
              <!--<div flex="33">-->
                  <!--<md-card>-->
                    <!--<img ng-src="{{!ctrl.streamOff && '/power_feed' || '//:0'}}">-->
                  <!--</md-card>-->
              <!--</div>-->
              <!--<div flex="100">-->
                  <!--<md-card>-->
                      <!--<md-card-header>-->
                          <!--<md-card-title>Max Feed</md-card-title>-->
                      <!--</md-card-header>-->
                    <!--<img md-card-image ng-src="{{!ctrl.streamOff && '/focus_feed' || '//:0'}}">-->
                  <!--</md-card>-->
              <!--</div>-->


              <md-grid-list style="max-height: 80vh"
                      md-cols-xs="1" md-cols-sm="{{ctrl.boolFull && 1 || 2}}" md-cols-md="{{ctrl.boolFull && 1 || 3}}" md-cols-gt-md="{{ctrl.boolFull && 1 || 4}}"
                      md-row-height="{{ctrl.boolFull && '80vh' || '4:3'}}"
                      md-gutter="4px" md-gutter-gt-sm="8px">

                  <md-grid-tile ng-repeat="tile in ctrl.tiles_shown"
                                md-rowspan="1"
                                md-colspan="1"
                                md-colspan-sm="1"
                                md-colspan-xs="1">
                      <img ng-src="{{!ctrl.streamOff && tile.link || '//:0'}}", height="100%", width="auto">
                      <md-grid-tile-footer>
                          <div layout="row" layout-align="start center">
                            <h3>{{tile.title}}</h3>
                            <md-button ng-click="tileFull($index)">Enlarge</md-button>
                          </div>
                      </md-grid-tile-footer>

                  </md-grid-tile>

              </md-grid-list>



        </div>

        <!--</div>-->

        <!--<div flex="20" hide show-sm></div>-->
        <!--<div flex="30" hide show-gt-sm></div>-->

        <!--</div>-->








  	</div>






  </body>


</html>
